<ng-container *ngIf="{ hardware: hardware$ | async, room: room$ | async } as data">
	<div class="hardware-container">
		<mat-toolbar>
			<h2>
			{{ data.hardware.name }}
			</h2>
			<button #formTrig (click)="openForm(formTrig, hardwareForm)" mat-icon-button>
				<mat-icon>mode_edit</mat-icon>
			</button>
		</mat-toolbar>
		<div class="hardware">
			<mat-accordion>
				<app-equipment
					*ngFor="let equipment of getEquipments(data.hardware)"
					[equipment]="equipment"
					[hardware]="data.hardware"
					[room]="data.room"
					[size]="'expand'"
					(opened)="onOpen($event)"
					><app-equipment-form [equipment]="equipment" expand></app-equipment-form
				></app-equipment>
			</mat-accordion>
		</div>
	</div>
</ng-container>

<ng-template #hardwareForm let-close=close>
	<app-hardware-form
		(cancelled)="close()" (submitted)="close()"
	>
	</app-hardware-form>
</ng-template>
