<mat-toolbar color="primary">
	<button mat-icon-button (click)="sidenav.toggle()">
		<mat-icon>menu</mat-icon>
	</button>
	<span class="title">{{ title }}</span>
	<span class="spacer"></span>
	<span class="email">{{ (user$ | async)?.email }}</span>
	<button mat-icon-button [matMenuTriggerFor]="profile">
		<mat-icon>account_circle</mat-icon>
	</button>
</mat-toolbar>
<div class="app-sidenav-super">
	<mat-sidenav-container class="app-sidenav-container">
		<mat-sidenav
			#sidenav
			[mode]="sidenavMode | async"
			class="app-sidenav"
			(closed)="onToggle(false)"
			(opened)="onToggle(true)"
		>
			<mat-nav-list>
				<a
					#rla="routerLinkActive"
					[disabled]="rla.isActive"
					mat-list-item
					[routerLink]="link.path"
					routerLinkActive="app-sidenav-link-active"
					*ngFor="let link of sidenavLinks"
					>{{ link.name }}</a
				>
			</mat-nav-list>
		</mat-sidenav>
		<mat-sidenav-content>
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>

<mat-menu #profile="matMenu">
	<button mat-menu-item (click)="logOut()">Выйти</button>
</mat-menu>
