<ng-container>
	<form [formGroup]="hardwareForm"  (submit)="submitForm()">
		<mat-form-field class="form-field">
			<mat-label>
				Имя
			</mat-label>
			<input
				type="text"
				cdkFocusInitial
				matInput
				placeholder="Новое имя устройства"
				formControlName="name"
			/>
			<mat-error *ngIf="nameControl?.errors?.required"
				>У устройства должно быть имя</mat-error
			>
			<mat-error *ngIf="nameControl?.errors?.notUnique"
				>Устройство, с таким именем уже есть</mat-error
			>
		</mat-form-field>
		<mat-form-field class="form-field">
			<mat-label>
				Комната
			</mat-label>
			<mat-select formControlName="roomId">
				<mat-option *ngFor="let room of rooms$ | async" [value]="room.id">
					{{ room.name }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<button
			mat-button
			type="submit"
			class="button"
			[disabled]="!isHardwareFormReadyToSubmit"
		>
			Сохранить
		</button>
		<button
			mat-raised-button
			color="accent"
			type="button"
			class="button"
			(click)="reset()"
			[disabled]="hardwareForm.pristine"
		>
			Отмена
		</button>
	</form>
</ng-container>
