<button mat-mini-fab (click)="addCommand()" class="add-button"><mat-icon>add</mat-icon></button>
<mat-accordion>
	<mat-expansion-panel
		*ngFor="let command of commands$ | async as commands"
	>
		<mat-expansion-panel-header>
			<mat-panel-title>
				{{ command.name }}
			</mat-panel-title>
			<mat-panel-description>
				Сценарий по событию (связанные устройства)
			</mat-panel-description>
		</mat-expansion-panel-header>
		<app-command
			[command]="command"
		></app-command>
	</mat-expansion-panel>

</mat-accordion>

