<ng-container *ngIf="room$ | async as room">
	<mat-toolbar class="room-toolbar">
				<h2>{{ room?.name }}</h2>
				<button #formTrig (click)="open(formTrig, roomForm)" mat-icon-button>
					<mat-icon>mode_edit</mat-icon>
				</button>
		<button
			mat-icon-button
			color="warn"
			[disabled]="!!room?.hardwareEntityState?.ids?.length"
			(click)="delete(room)"
			matTooltip="Очистите комнату перед удалением"
		>
			<mat-icon>delete</mat-icon>
		</button>
	</mat-toolbar>
	<div class="hardware-list">
		<div *ngFor="let hardware of getHardwares(room)" class="hardware">
			<a #rla="routerLinkActive" [routerLink]="[hardware?.id]" routerLinkActive>
				<mat-card matRipple class="hardware-card">
					<mat-card-header [class.hardware-card-active]="rla?.isActive">
						<mat-card-title>
							{{ hardware?.name }}
						</mat-card-title>
					</mat-card-header>
				</mat-card>
			</a>
		</div>
	</div>
</ng-container>

<router-outlet></router-outlet>

<ng-template #roomForm let-close="close">
	<app-room-form (cancelled)="close()" (submitted)="close()"></app-room-form>
</ng-template>
