	<form [formGroup]="roomForm" (submit)="submitForm()" class="room-form">
		<mat-form-field >
			<mat-label>Имя комнаты</mat-label>
			<input
				type="text"
				cdkFocusInitial
				matInput
				placeholder="Введите имя комнаты"
				formControlName="name"
			/>
			<mat-error *ngIf="nameControl?.errors?.required"
				>У комнаты должно быть имя</mat-error
			>
			<mat-error *ngIf="nameControl?.errors?.notUnique">Имя занято</mat-error>
		</mat-form-field>
		<div>
			<button
				mat-button
				type="submit"
				[disabled]="roomForm.invalid || roomForm.pristine || roomForm.pending"
			>
				Сохранить
			</button>
			<button
				(click)="reset()"
				[disabled]="roomForm.pristine"
				mat-button
				color="accent"
				type="button"
			>
				Отмена
			</button>
		</div>
	</form>
