<div class="popup-container mat-elevation-z4"
	 [@slidePopup]="animationState"
	 (@slidePopup.start)="onAnimationStart($event)"
	 (@slidePopup.done)="onAnimationDone($event)">
	<div class="popup-content" cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
		<ng-container [cdkPortalOutlet]="portal"></ng-container>
	</div>
</div>
