@import "theming";
@import "layout";


:host {
	display: block;
}

.popup-container {
	background-color: $background-color;
	//height: 100%;
	border-radius: 4px;
	outline: 0;

}

.popup-content:not(:empty) {
	padding: $layout03;
}
