

	<div class="exp-panel-body">
		<ng-container *ngTemplateOutlet="event"></ng-container>

		<mat-divider vertical="true"></mat-divider>

		<ng-container *ngTemplateOutlet="result"></ng-container>
	</div>
	<mat-action-row>
		<button (click)="updateCommand()" color="primary" mat-mini-fab>
			<mat-icon>edit</mat-icon>
		</button>
		<button (click)="deleteCommand()" color="warn" mat-mini-fab>
			<mat-icon>delete</mat-icon>
		</button>
	</mat-action-row>

<ng-template #event>
	<div *ngIf="eventSensor?.equipment$ | async as equipment">
		<h2 mat-subheader>Событие</h2>
		<mat-divider></mat-divider>
		<mat-card class="mat-elevation-z0"
			>{{ equipment.type }} будет {{ eventTrigger?.comparator }}
			{{ eventTrigger?.value | unit: equipment }}</mat-card
		>
		<mat-divider></mat-divider>
		<app-equipment
			[equipment]="equipment"
			[hardware]="eventSensor?.hardware$ | async"
			[room]="eventSensor?.room$ | async"
			[size]="'small'"
		>
			<a
				[routerLink]="['/home/rooms', eventTrigger?.roomId, eventTrigger?.hardwareId]"
				color="primary"
				mat-raised-button
				small
				>Просмотреть станцию</a
			>
		</app-equipment>
	</div>
</ng-template>

<ng-template #result>
	<div *ngIf="resultDevice?.equipment$ | async as equipment">
		<h2 mat-subheader>Результат</h2>
		<mat-divider></mat-divider>
		<mat-card class="mat-elevation-z0"
			>Устройство
			{{ command.body?.result.value === '0' ? 'выключить' : 'включить' }}</mat-card
		>
		<mat-divider></mat-divider>
		<app-equipment
			[equipment]="equipment"
			[hardware]="resultDevice.hardware$ | async"
			[room]="resultDevice.room$ | async"
			[size]="'small'"
		>
			<a
				[routerLink]="[
					'/rooms',
					command.body?.result.roomId,
					command.body?.result.hardwareId
				]"
				color="primary"
				mat-raised-button
				small
				>Просмотреть станцию</a
			>
		</app-equipment>
	</div>
</ng-template>
